In [8]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.feature_selection import SelectFromModel

In [4]:
train_dataset = pd.read_csv('../datasets/train.csv')
test_dataset = pd.read_csv('../datasets/test.csv')

In [5]:
y = train_dataset['rh98']
X = train_dataset.drop(columns=['rh98'])

In [6]:
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [13]:
clf = RandomForestRegressor(n_estimators=300, max_depth=50, n_jobs=-1)
sel = SelectFromModel(clf, threshold=0.2)
clf.fit(X_train, y_train)

RandomForestRegressor(max_depth=50, n_estimators=300, n_jobs=-1)

In [14]:
prediction = clf.predict(test_dataset)
rh98_series = pd.Series(prediction)

In [15]:
submission = pd.concat([test_dataset['id'], rh98_series], axis=1)
submission.set_axis(['id', 'rh98'], axis='columns')

         id       rh98
0         1   9.141333
1        11  10.150767
2        12   7.210433
3        13   6.855567
4        17   8.274333
...     ...        ...
7263  36336   9.829700
7264  36354  10.183533
7265  36360   9.180833
7266  36366   4.957800
7267  36369   6.298900

[7268 rows x 2 columns]

In [17]:
submission.to_csv('pred.csv', index=False)